<article class="menu-target6">
    <h4>Cursor</h4>

    <section class="card-gray">
        <h5>Cursor</h5>
        <p>Cursor classes are made to provide text cursor, add global to use for children !</p>
        <a class="btn-gray" href="https://github.com/animadio/animadio/blob/master/src/helpers" title="View SCSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Cursor Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for cursor in allCursorClasses %}
            <tr>
                <th>{{ cursor.class }}</th>
                <td>{{ cursor.property }}</td>
                <td>{{ cursor.valor }}</td>
                <td>{{ cursor.screen }}</td>
                <td>{{ cursor.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
