<article class="menu-target1">
    <h4>Font</h4>

    <section class="card-gray">
        <h5>Font</h5>
        <p>Font classes are made to provide font weight & style, add global to use for children !</p>
        <a class="btn-gray" href="https://github.com/animadio/animadio/blob/master/src/helpers" title="View SCSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Font Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for font in allFontClasses %}
            <tr>
                <th>{{ font.class }}</th>
                <td>{{ font.property }}</td>
                <td>{{ font.valor }}</td>
                <td>{{ font.screen }}</td>
                <td>{{ font.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
