<article class="menu-target1">
    <h3>Anima</h3>

    <section class="card-black">
        <h4>Anima Infos</h4>
        <p>Anima classes are designed to provide animations through a concatenated classname, composed with common options such as duration, delay, iteration, direction, etc...</p>
        <a class="btn-white" href="https://github.com/animadio/animadio/blob/master/src/states/anima.css">View Anima Source Code</a>
    </section>

    <table id="anima-datas" class="table">
        <caption>Anima Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for anima in allAnimaClasses %}
            <tr>
                <th>{{ anima.class }}</th>
                <td>{{ anima.property }}</td>
                <td>{{ anima.valor }}</td>
                <td>{{ anima.screen }}</td>
                <td>{{ anima.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
