<article class="menu-target1">
    <h4>Anima</h4>

    <section class="card-blue">
        <h5>Anima Infos</h5>
        <p>Anima classes are designed to provide animations with common options such as duration, delay, iteration, or direction, add a states keywords to use it as a special effect</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/variables/_anima.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/classes/_anima.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table id="anima-datas" class="table">
        <caption>Anima Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for anima in allAnimaClasses %}
            <tr>
                <th>{{ anima.class }}</th>
                <td>{{ anima.property }}</td>
                <td>{{ anima.valor }}</td>
                <td>{{ anima.screen }}</td>
                <td>{{ anima.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
