<article class="menu-target4">
    <h4>BG</h4>

    <section class="card-blue">
        <h5>Bg</h5>
        <p>Bg classes are made to provide background colors, add a states keywords to use it as a special effect !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/variables/_bg.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/classes/_bg.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>Bg Demo</h5>

        <p>Select a Background-Color to watch the effect...</p>
        <ul class="container-90tn-80sm-70md-60sm-50wd font-monospace">
            <li class="flex placo-between">
                <label for="bg">Bg -------></label>
                <select id="bg">
                    <option selected value="">-</option>
                    {% for bg in allBgClasses %}
                    <option value="{{ bg.class }}">{{ bg.class|slice(3)|capitalize }}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>

        <input id="bg-check" class="button-check" type="checkbox">
        <label for="bg-check"  class="button-purple">Bg !</label>

        <figure id="bg-hub">
            <img id="bg-goal" src="img/logo.png" alt="Animadio Logo">
        </figure>
    </section>

    <table class="table">
        <caption>Bg Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for bg in allBgClasses %}
            <tr>
                <th>{{ bg.class }}</th>
                <td>{{ bg.property }}</td>
                <td>{{ bg.valor }}</td>
                <td>{{ bg.screen }}</td>
                <td>{{ bg.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
