<article class="menu-target2">
    <h3>BG</h3>

    <table class="table">
        <caption>BG</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Variable</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for bg in allBgClasses %}
            <tr>
                <th>{{ bg.class }}</th>
                <td>{{ bg.variable }}</td>
                <td>{{ bg.property }}</td>
                <td>{{ bg.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ bg.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ bg.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
