<article class="menu-target3">
    <h3>Bord</h3>

    <section class="card-black">
        <h4>Bord</h4>
        <p>You need to add a state keyword to use the Bord classes...</p>
        <a class="btn-white" href="https://github.com/animadio/animadio/blob/master/src/states/bord.css">View Bord Source Code</a>
    </section>

    <table class="table">
        <caption>Bord Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th><a href="{{ url('global') }}" title="How to use Variables ?">Value</a></th>
            <th>@media</th>
            <th><a href="{{ url('grid') }}" title="How to Concat ?">Concat</a></th>
            <th><a href="{{ url('states') }}" title="How States work ?">States</a></th>
        </tr>
        </thead>

        <tbody>
        {% for bord in allBordClasses %}
            <tr>
                <th>{{ bord.class }}</th>
                <td>{{ bord.property }}</td>
                <td>{{ bord.valor }}</td>
                <td>{{ bord.screen }}</td>
                <td>{{ bord.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ bord.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
