<article class="menu-target4">
    <h3>Color</h3>

    <section class="card-blue">
        <h4>Color</h4>
        <p>Color classes are made to provide colors, add a states keywords to use it as a special effect !</p>
        <a class="btn-blue" href="https://github.com/animadio/animadio/blob/master/src/states/color.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Color Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for color in allColorClasses %}
            <tr>
                <th>{{ color.class }}</th>
                <td>{{ color.property }}</td>
                <td>{{ color.valor }}</td>
                <td>{{ color.screen }}</td>
                <td>{{ color.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
