<article class="menu-target5">
    <h4>Color</h4>

    <section class="card-blue">
        <h5>Color</h5>
        <p>Color classes are made to provide colors, add a states keywords to use it as a special effect !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/variables/_color.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-violet color-tomato-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/classes/_color.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-violet color-tomato-into" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Color Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for color in allColorClasses %}
            <tr>
                <th>{{ color.class }}</th>
                <td>{{ color.property }}</td>
                <td>{{ color.valor }}</td>
                <td>{{ color.screen }}</td>
                <td>{{ color.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
