<article class="menu-target6">
    <h3>Display</h3>

    <section class="card">
        <h4>Display</h4>
        <p>You need to add a state keyword to use the Display classes...</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/display.css" title="View Display Source Code">Display Code</a>
    </section>

    <table class="table">
        <caption>Display Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for display in allDisplayClasses %}
            <tr>
                <th>{{ display.class }}</th>
                <td>{{ display.property }}</td>
                <td>{{ display.valor }}</td>
                <td>{{ display.screen }}</td>
                <td>{{ display.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
