<article class="menu-target6">
    <h3>Display</h3>

    <section class="card-blue">
        <h4>Display</h4>
        <p>You need to add a state keyword to use the Display classes...</p>
        <a class="btn-sky" href="https://github.com/animadio/animadio/blob/master/src/states/display.css">View Display Source Code</a>
    </section>

    <table class="table">
        <caption>Display Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for display in allDisplayClasses %}
            <tr>
                <th>{{ display.class }}</th>
                <td>{{ display.property }}</td>
                <td>{{ display.variable }}</td>
                <td>{{ display.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ display.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ display.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
