<article class="menu-target6">
    <h3>Display</h3>

    <table class="table">
        <caption>Display</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for display in allDisplayClasses %}
            <tr>
                <th>{{ display.class }}</th>
                <td>{{ display.property }}</td>
                <td>{{ display.variable }}</td>
                <td>{{ display.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ display.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ display.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
