<article class="menu-target6">
    <h3>Display</h3>

    <section class="card-black">
        <h4>Display</h4>
        <p>You need to add a state keyword to use the Display classes...</p>
        <a class="btn-white" href="https://github.com/animadio/animadio/blob/master/src/states/display.css">View Display Source Code</a>
    </section>

    <table class="table">
        <caption>Display Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th><a href="{{ url('global') }}" title="How to use Variables ?">Variable</a></th>
            <th>@media</th>
            <th><a href="{{ url('grid') }}" title="How to Concat ?">Concat</a></th>
            <th><a href="{{ url('states') }}" title="How States work ?">States</a></th>
        </tr>
        </thead>

        <tbody>
        {% for display in allDisplayClasses %}
            <tr>
                <th>{{ display.class }}</th>
                <td>{{ display.property }}</td>
                <td>{{ display.variable }}</td>
                <td>{{ display.screen }}</td>
                <td>{{ display.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ display.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
