<article class="menu-target7">
    <h3>Position</h3>

    <table class="table">
        <caption>Position</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Variable</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for position in allPositionClasses %}
            <tr>
                <th>{{ position.class }}</th>
                <td>{{ position.variable }}</td>
                <td>{{ position.property }}</td>
                <td>{{ position.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ position.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ position.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
