<article class="menu-target7">
    <h3>Position</h3>

    <section class="card">
        <h4>Position</h4>
        <p>You need to add a state keyword to use the Position classes...</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/position.css" title="View Position Source Code" rel="noreferrer noopener" target="_blank">Position Code</a>
    </section>

    <table class="table">
        <caption>Position Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for position in allPositionClasses %}
            <tr>
                <th>{{ position.class }}</th>
                <td>{{ position.property }}</td>
                <td>{{ position.valor }}</td>
                <td>{{ position.screen }}</td>
                <td>{{ position.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
