<article class="menu-target7">
    <h3>Position</h3>

    <section class="card-black">
        <h4>Position</h4>
        <p>You need to add a state keyword to use the Position classes...</p>
        <a class="btn-white" href="https://github.com/animadio/animadio/blob/master/src/states/position.css">View Position Source Code</a>
    </section>

    <table class="table">
        <caption>Position Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th><a href="{{ url('global') }}" title="How to use Variables ?">Value</a></th>
            <th>@media</th>
            <th><a href="{{ url('grid') }}" title="How to Concat ?">Concat</a></th>
            <th><a href="{{ url('states') }}" title="How States work ?">States</a></th>
        </tr>
        </thead>

        <tbody>
        {% for position in allPositionClasses %}
            <tr>
                <th>{{ position.class }}</th>
                <td>{{ position.property }}</td>
                <td>{{ position.valor }}</td>
                <td>{{ position.screen }}</td>
                <td>{{ position.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ position.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
