<article class="menu-target8">
    <h3>Shabox</h3>

    <table class="table">
        <caption>Shabox</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for shabox in allShaboxClasses %}
            <tr>
                <th>{{ shabox.class }}</th>
                <td>{{ shabox.property }}</td>
                <td>{{ shabox.variable }}</td>
                <td>{{ shabox.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ shabox.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ shabox.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
