<article class="menu-target8">
    <h3>Shabox</h3>

    <section class="card-black">
        <h4>Shabox</h4>
        <p>You need to add a state keyword to use the Shabox classes...</p>
        <a class="btn-white" href="https://github.com/animadio/animadio/blob/master/src/states/shabox.css">View Shabox Source Code</a>
    </section>

    <table class="table">
        <caption>Shabox Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th><a href="{{ url('global') }}" title="How to use Variables ?">Variable</a></th>
            <th>@media</th>
            <th><a href="{{ url('grid') }}" title="How to Concat ?">Concat</a></th>
            <th><a href="{{ url('states') }}" title="How States work ?">States</a></th>
        </tr>
        </thead>

        <tbody>
        {% for shabox in allShaboxClasses %}
            <tr>
                <th>{{ shabox.class }}</th>
                <td>{{ shabox.property }}</td>
                <td>{{ shabox.variable }}</td>
                <td>{{ shabox.screen }}</td>
                <td>{{ shabox.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ shabox.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
