<article class="menu-target9">
    <h3>Shatex</h3>

    <section class="card-blue">
        <h4>Shatex</h4>
        <p>You need to add a state keyword to use the Shatex classes...</p>
        <a class="btn-sky" href="https://github.com/animadio/animadio/blob/master/src/states/shatex.css">View Shatex Source Code</a>
    </section>

    <table class="table">
        <caption>Shatex Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for shatex in allShatexClasses %}
            <tr>
                <th>{{ shatex.class }}</th>
                <td>{{ shatex.property }}</td>
                <td>{{ shatex.variable }}</td>
                <td>{{ shatex.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ shatex.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ shatex.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
