<article class="menu-target9">
    <h3>Shatex</h3>

    <section class="card">
        <h4>Shatex</h4>
        <p>You need to add a state keyword to use the Shatex classes...</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/shatex.css" title="View Shatex Source Code" rel="noreferrer noopener" target="_blank">Shatex Code</a>
    </section>

    <table class="table">
        <caption>Shatex Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for shatex in allShatexClasses %}
            <tr>
                <th>{{ shatex.class }}</th>
                <td>{{ shatex.property }}</td>
                <td>{{ shatex.valor }}</td>
                <td>{{ shatex.screen }}</td>
                <td>{{ shatex.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
