<article class="menu-target9">
    <h4>Shatex</h4>

    <section class="card-blue">
        <h5>Shatex</h5>
        <p>Shatex classes are made to provide text shadows, add a states keywords to use it as a special effect !</p>
        <a class="btn-blue" href="https://github.com/animadio/animadio/blob/master/src/states/shatex.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Shatex Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for shatex in allShatexClasses %}
            <tr>
                <th>{{ shatex.class }}</th>
                <td>{{ shatex.property }}</td>
                <td>{{ shatex.valor }}</td>
                <td>{{ shatex.screen }}</td>
                <td>{{ shatex.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
