<article class="menu-target2">
    <h3>Flex</h3>

    <section class="card">
        <h4>Flex Infos</h4>
        <p>You can concat each media keywords with the Flex classes...</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/grid/flex.css">View Flex Source Code</a>
    </section>

    <table class="table">
        <caption>Flex</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for flex in allFlexClasses %}
            <tr>
                <th>{{ flex.class }}</th>
                <td>{{ flex.property }}</td>
                <td>{{ flex.valor }}</td>
                <td>{{ flex.screen }}</td>
                <td>{{ flex.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
