<article class="menu-target2">
    <h3>Flex</h3>

    <table class="table">
        <caption>Flex</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th><a href="{{ url('global') }}" title="How to use Variables ?">Variable</a></th>
            <th>@media</th>
            <th><a href="{{ url('grid') }}" title="How to Concat ?">Concat</a></th>
            <th><a href="{{ url('states') }}" title="How States work ?">States</a></th>
        </tr>
        </thead>

        <tbody>
        {% for flex in allFlexClasses %}
            <tr>
                <th>{{ flex.class }}</th>
                <td>{{ flex.property }}</td>
                <td>{{ flex.variable }}</td>
                <td>{{ flex.screen }}</td>
                <td>{{ flex.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ flex.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
