<article class="menu-target1">
    <h3>Grid | Fluid</h3>

    <section class="card">
        <h4>Grid | Fluid Infos</h4>
        <p>You can concat each media keywords with the Grid | Fluid classes...</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/grid/grid.css" title="View Grid|Fluid Source Code">Grid|Fluid Code</a>
    </section>

    <table class="table">
        <caption>Grid | Fluid Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for fluid in allFluidClasses %}
            <tr>
                <th>{{ fluid.class }}</th>
                <td>{{ fluid.property }}</td>
                <td>{{ fluid.valor }}</td>
                <td>{{ fluid.screen }}</td>
                <td>{{ fluid.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
