<article class="menu-target1">
    <h3>Grid | Fluid</h3>

    <section class="card-red">
        <h4>Grid Infos</h4>
        <p>You can concat each media keywords with the Grid | Fluid classes...</p>
        <a class="btn-red" href="https://github.com/animadio/animadio/blob/master/src/grid/grid.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Grid Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for grid in allGridClasses %}
            <tr>
                <th>{{ grid.class }}</th>
                <td>{{ grid.property }}</td>
                <td>{{ grid.valor }}</td>
                <td>{{ grid.screen }}</td>
                <td>{{ grid.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
