<article class="menu-target1">
    <h3>Grid | Fluid</h3>

    <section class="card-red">
        <h4>Grid Infos</h4>
        <p>You can concat each media keywords with the Grid | Fluid classes...</p>
        <a class="btn-red" href="https://github.com/animadio/animadio/blob/master/src/grid/grid.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h4>Grid Examples</h4>

        <ul>
            <li>
                <h5>2 concat grid classes</h5>

                <pre>
<span class="color-silver">&lt;!-- To get 1 column before 576px, then 2 after 576px, finally 4 after 768px,
all of that with margin --></span>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"grid-2sm-4md"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- Your HTML code --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h5>3 concat fluid classes</h5>

                <pre>
<span class="color-silver">&lt;!-- To get 1 column before 576px, then 4 after 576px, then 8 after 768px, finally 12 after 992px,
all of that without margin --></span>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"fluid-4sm-8md-12lg"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- Your HTML code --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h5>2 concat fluid classes & 1 gap class</h5>

                <pre>
<span class="color-silver">&lt;!-- To get 1 column before 576px, then 2 after 576px, finally 4 after 768px,
all of that with a small gutter after 576px & without margin --></span>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"fluid-2sm-4md gap-small-sm"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- Your HTML code --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h5>3 concat grid classes & 2 concat gap classes</h5>

                <pre>
<span class="color-silver">&lt;!-- To get 1 column before 576px, then 4 after 576px, then 8 after 768px, finally 12 after 992px,
moreover this grid will have large gutters after 576px, small gutters after 992px & margin --></span>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"grid-4sm-8md-12lg gap-large-sm-small-lg"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- Your HTML code --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
        </ul>
    </section>

    <table class="table">
        <caption>Grid Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for grid in allGridClasses %}
            <tr>
                <th>{{ grid.class }}</th>
                <td>{{ grid.property }}</td>
                <td>{{ grid.valor }}</td>
                <td>{{ grid.screen }}</td>
                <td>{{ grid.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
