<article class="menu-target1">
    <h3>Grid</h3>

    <table class="table">
        <caption>Grid</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for grid in allGridClasses %}
            <tr>
                <th>{{ grid.class }}</th>
                <td>{{ grid.property }}</td>
                <td>{{ grid.variable }}</td>
                <td>{{ grid.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ grid.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ grid.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
