<article class="menu-target3">
    <h3>Place</h3>

    <section class="card-black">
        <h4>Place Infos</h4>
        <p>You can concat each media keywords with the Place classes...</p>
        <a class="btn-white" href="https://github.com/animadio/animadio/blob/master/src/grid/place.css">View Place Source Code</a>
    </section>

    <table class="table">
        <caption>Place</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for place in allPlaceClasses %}
            <tr>
                <th>{{ place.class }}</th>
                <td>{{ place.property }}</td>
                <td>{{ place.valor }}</td>
                <td>{{ place.screen }}</td>
                <td>{{ place.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
