<article class="menu-target3">
    <h4>Place</h4>

    <section class="card-red">
        <h5>Place Infos</h5>
        <p>You can use the Place classes to align or justify : content, items or self-item...</p>
        <a class="btn-red" href="https://github.com/animadio/animadio/blob/master/src/grid/place.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>Place Examples</h5>

        <ul>
            <li>
                <h6>Placo class with Flex</h6>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"flex placo-evenly"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- To get flex content separated with the same space --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h6>Plait classes with Grid</h6>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"grid-6xs plait-stretch-xs plait-center-md"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- To get grid items stretched on 6 columns,
    then centered after 768px --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h6>Placo & Plait Classes with Fluid</h6>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"fluid placo-start plait-end"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- To get fluid content aligned @ the beginning of the container,
    & fluid items aligned @ the end of the container --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
        </ul>
    </section>

    <table class="table">
        <caption>Place</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for place in allPlaceClasses %}
            <tr>
                <th>{{ place.class }}</th>
                <td>{{ place.property }}</td>
                <td>{{ place.valor }}</td>
                <td>{{ place.screen }}</td>
                <td>{{ place.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
