<article class="menu-target4">
    <h3>4 - Box</h3>

    <section>
        <h4>4.1 - What's inside the Box ?</h4>

        <p>Box file contains 5 types of helper classes handling the Box Model :</p>
        <ol>
            <li>the Container classes</li>
            <li>the Margin classes</li>
            <li>the Padding classes</li>
            <li>the Height classes</li>
            <li>the Width classes</li>
        </ol>
    </section>

    <section>
        <h4>4.2 - Usage of the Box Classes</h4>

        <p>For the Container classes, you need to concat the class name "container-" with the size you want : between 70, 80 & 90, in a specific media : from xs to xl.</p>

        <p>For the other box classes, you need to concat the full class name like "mar-all-none", or "pad-top-md", or "height-sm", "max-w-lg" with the keyword "base" or "global" : the first to get the effect on the element, the second to get the effect on the direct children.</p>

       
    </section>

    <table class="table">
        <caption>Box</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for box in allBoxClasses %}
            <tr>
                <th>{{ box.class }}</th>
                <td>{{ box.property }}</td>
                <td>{{ box.variable }}</td>
                <td>{{ box.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ box.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ box.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>