<article class="menu-target4">
    <h4>Box</h4>

    <section class="card-purple">
        <h5>Box Infos</h5>
        <p>You will find Box Model classes to create container, margin, padding, height & width.</p>
        <a class="btn-purple" href="https://github.com/animadio/animadio/blob/master/src/global/box.css" title="View CSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>What's inside the Box ?</h5>

        <p>Box file contains 5 types of helper classes handling the Box Model :</p>
        <ol>
            <li>the Container classes</li>
            <li>the Margin classes</li>
            <li>the Padding classes</li>
            <li>the Height classes</li>
            <li>the Width classes</li>
        </ol>
    </section>

    <section>
        <h5>Usage of the Box Classes</h5>

        <p>For the Container classes, you need to concat the class name "container-" with the size you want : between 70, 80 & 90, in a specific media : from xs to xl.</p>

        <p>For the other box classes, you need to concat the full class name like "mar-all-none", or "pad-top-md", or "height-sm", "max-w-lg" with the keyword "base" or "global" : the first to get the effect on the element, the second to get the effect on the direct children.</p>

       
    </section>

    <table class="table">
        <caption>Box</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for box in allBoxClasses %}
            <tr>
                <th>{{ box.class }}</th>
                <td>{{ box.property }}</td>
                <td>{{ box.valor }}</td>
                <td>{{ box.screen }}</td>
                <td>{{ box.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>