<article class="menu-target5">
    <h3>5 - Helpers</h3>

    <section class="card-black">
        <h4>Helpers Infos</h4>
        <p>Helpers available are for font, text & cursor.</p>
        <a class="btn-white" href="https://github.com/animadio/animadio/blob/master/src/global/helpers.css">View Helpers Source Code</a>
    </section>

    <section>
        <h4>5.1 - What kind of helpers ?</h4>

        <p>The 3 types of helper classes available in addition are :</p>
        <ol>
            <li>the Font classes</li>
            <li>the Text classes</li>
            <li>the Cursor classes</li>
        </ol>
    </section>

    <table class="table">
        <caption>Helpers</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th><a href="{{ url('global') }}" title="How to use Variables ?">Value</a></th>
            <th>@media</th>
            <th><a href="{{ url('grid') }}" title="How to Concat ?">Concat</a></th>
            <th><a href="{{ url('states') }}" title="How States work ?">States</a></th>
        </tr>
        </thead>

        <tbody>
        {% for helpers in allHelpersClasses %}
            <tr>
                <th>{{ helpers.class }}</th>
                <td>{{ helpers.property }}</td>
                <td>{{ helpers.valor }}</td>
                <td>{{ helpers.screen }}</td>
                <td>{{ helpers.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ helpers.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>