{% extends 'layout/layout.twig' %}

{% block subtitle %}States{% endblock %}

{% block description %}Animadio Documentation about Animadio States : anima, bg, bord, color, deco, display, flow, position, shabox & shatex{% endblock %}

{% block main %}

<article>
    <h2>States</h2>

    <section class="card">
        <figure>
            <img src="img/logo.png" alt="Animadio Logo">
        </figure>
        <h3>States Usage</h3>
        <p>To use States feature, you need to add the States keyword(s) after the States class(es) with a hyphens "-" between them in order to get the desired effect.</p>
        <a class="btn" href="https://cdn.jsdelivr.net/npm/animadio@1.1.1/dist/animadio-states.css" title="Access to Animadio States CDN" rel="noreferrer noopener" target="_blank">States CDN</a>
    </section>

    <table class="table">
        <caption>States Datas</caption>

        <thead>
        <tr>
            <th>Keywords</th>
            <th>Trigger</th>
            <th>Relay</th>
            <th>Target</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>&empty;</td>
                <td>Class</td>
                <td>&empty;</td>
                <td>Class</td>
            </tr>
            <tr>
                <td>global</td>
                <td>Global class</td>
                <td>&empty;</td>
                <td>Children of Global class</td>
            </tr>
            <tr>
                <td>into</td>
                <td>Hover|Focus the parent of Into class</td>
                <td>&empty;</td>
                <td>Into class</td>
            </tr>
            <tr>
                <td>onto</td>
                <td>Hover|Focus the Onto class</td>
                <td>&empty;</td>
                <td>Onto class</td>
            </tr>
            <tr>
                <td>toall</td>
                <td>Hover|Focus the Toall class</td>
                <td>&empty;</td>
                <td>Children of Toall class</td>
            </tr>
            <tr>
                <td>toone</td>
                <td>Hover|Focus a child of Toone class</td>
                <td>&empty;</td>
                <td>Child of Toone class</td>
            </tr>
            <tr>
                <td>check + hub + goal</td>
                <td>Check class Checked</td>
                <td>Hub class</td>
                <td>Goal class</td>
            </tr>
            <tr>
                <td>radio1 + relay + target1</td>
                <td>Radio1 class Checked</td>
                <td>Relay class</td>
                <td>Target1 class</td>
            </tr>
            <tr>
                <td>radio2 + relay + target2</td>
                <td>Radio2 class Checked</td>
                <td>Relay class</td>
                <td>Target2 class</td>
            </tr>
            <tr>
                <td>radio3 + relay + target3</td>
                <td>Radio3 class Checked</td>
                <td>Relay class</td>
                <td>Target3 class</td>
            </tr>
            <tr>
                <td>radio4 + relay + target4</td>
                <td>Radio4 class Checked</td>
                <td>Relay class</td>
                <td>Target4 class</td>
            </tr>
            <tr>
                <td>radio5 + relay + target5</td>
                <td>Radio5 class Checked</td>
                <td>Relay class</td>
                <td>Target5 class</td>
            </tr>
        </tbody>
    </table>

    <section>
        <h4>States Examples</h4>

        <ul>
            <li>
                <h5>Anima class</h5>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"anima-rota3d"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- To get a rotate3d animation --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h5>Global Bg class & Global Color class</h5>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"bg-purple-global color-green-global"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- To get a purple background & green color
    on all direct children --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h5>Into Bord class & Onto Deco class</h5>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"bord-solid-into deco-over-onto"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- To get a solid border
    when the parent is hover or focus
   & an overline text-decoration when the element is hover or focus --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
            <li>
                <h5>Toall Display class & Toone position class</h5>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-salmon font-italic"> class=</span>"block-md-toall absolute-toone"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;!-- To get a display block to all direct children
    when hover or focus the parent after 768px
    & a position absolute all the time to each children one by one
    when hover or focus each of them --></span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
            </li>
        </ul>
    </section>

    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">
    <input id="menu-radio4" class="menu-radio4" type="radio" name="menu">
    <input id="menu-radio5" class="menu-radio5" type="radio" name="menu">
    <input id="menu-radio6" class="menu-radio6" type="radio" name="menu">
    <input id="menu-radio7" class="menu-radio7" type="radio" name="menu">
    <input id="menu-radio8" class="menu-radio8" type="radio" name="menu">
    <input id="menu-radio9" class="menu-radio9" type="radio" name="menu">

    <nav class="menu">
        <label for="menu-radio1" title="Show Anima Classes">
            Anima
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio2" title="Show Bg Classes">
            Bg
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio3" title="Show Bord Classes">
            Bord
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio4" title="Show Color Classes">
            Color
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio5" title="Show Deco Classes">
            Deco
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio6" title="Show Display Classes">
            Display
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio7" title="Show Position Classes">
            Position
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio8" title="Show Shabox Classes">
            Shabox
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
        <label for="menu-radio9" title="Show Shatex Classes">
            Shatex
            <i class="fas fa-caret-down fa-2x" aria-hidden="true"></i>
        </label>
    </nav>

    <section class="menu-relay">
        <h3>States Parts</h3>

        {{ include("states/anima.twig") }}
        {{ include("states/bg.twig") }}
        {{ include("states/bord.twig") }}
        {{ include("states/color.twig") }}
        {{ include("states/deco.twig") }}
        {{ include("states/display.twig") }}
        {{ include("states/position.twig") }}
        {{ include("states/shabox.twig") }}
        {{ include("states/shatex.twig") }}

    </section>
</article>
{% endblock %}
