<article class="menu-target1">
    <h4>Container</h4>

    <section class="card-black">
        <h5>Container</h5>
        <p>Container classes are made to provide containers, add a box keywords to use it as a special effect !</p>
        <a class="btn-black" href="https://github.com/animadio/animadio/blob/master/src/box" title="View SCSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Container Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for container in allContainerClasses %}
            <tr>
                <th>{{ container.class }}</th>
                <td>{{ container.property }}</td>
                <td>{{ container.valor }}</td>
                <td>{{ container.screen }}</td>
                <td>{{ container.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
