<article class="menu-target6">
    <h4>Width</h4>

    <section class="card-black">
        <h5>Width</h5>
        <p>Width classes are made to provide widths, add a box keywords to use it as a special effect !</p>
        <a class="btn-black" href="https://github.com/animadio/animadio/blob/master/src/box" title="View SCSS Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Width Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Value</th>
            <th>Screen</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for width in allWidthClasses %}
            <tr>
                <th>{{ width.class }}</th>
                <td>{{ width.property }}</td>
                <td>{{ width.valor }}</td>
                <td>{{ width.screen }}</td>
                <td>{{ width.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
