<article class="menu-target1">
    <h3>Btn | Button</h3>

    <section class="card">
        <h4>Btn Infos</h4>
        <p>You can use Btn classes for links & Button classes for effects !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/btn.css" title="View Btn Source Code" rel="noreferrer noopener" target="_blank">Btn Code</a>
    </section>

    <section>
        <h4>Btn Examples</h4>

        {% for btn in allBtnClasses %}
            {% if btn.class|split('-')|first is same as ('btn') %}

                <h5 class="deco-base">{{ btn.class }} & {{ btn.class|replace({'btn': "button"}) }}</h5>

                <a class="{{ btn.class }}" href="#" title="Your awesome link !">
                    <i class="fas fa-globe" aria-hidden="true"></i>
                    {{ btn.class }}
                </a>

                <pre class="bg-black-base"><span class="color-silver-base">&lt;</span><span class="color-red-base">a</span><span class="color-salmon-base font-italic"> class=</span><span class="color-jade-base">"{{ btn.class }}"</span><span class="color-salmon-base font-italic"> href=</span><span class="color-jade-base">"#"</span><span class="color-salmon-base font-italic"> title=</span><span class="color-jade-base">"Your awesome link !"</span><span class="color-silver-base">&gt;</span><span class="color-silver-base">&lt;/</span><span class="color-red-base">a</span><span class="color-silver-base">&gt;</span></pre>

            {% else %}
                <input class="check" id="{{ btn.class }}-check" type="checkbox">
                <label class="{{ btn.class }}" for="{{ btn.class }}-check" title="Your awesome effect !">
                    <i class="fas fa-cogs" aria-hidden="true"></i>
                    {{ btn.class }}
                </label>

                <pre class="bg-black-base"><span class="color-silver-base">&lt;</span><span class="color-red-base">input</span><span class="color-salmon-base font-italic"> class=</span><span class="color-jade-base">"{add-a-states-class}-check"</span><span class="color-salmon-base font-italic"> id=</span><span class="color-jade-base">"{{ btn.class }}-check"</span><span class="color-salmon-base font-italic"> type=</span><span class="color-jade-base">"checkbox"</span><span class="color-silver-base">&gt;</span></pre>
                <pre class="bg-black-base"><span class="color-silver-base">&lt;</span><span class="color-red-base">label</span><span class="color-salmon-base font-italic"> class=</span><span class="color-jade-base">"{{ btn.class }}"</span><span class="color-salmon-base font-italic"> for=</span><span class="color-jade-base">"{{ btn.class }}-check"</span><span class="color-salmon-base font-italic"> title=</span><span class="color-jade-base">"Your awesome effect !"</span><span class="color-silver-base">&gt;</span><span class="color-silver-base">&lt;/</span><span class="color-red-base">label</span><span class="color-silver-base">&gt;</span></pre>
            {% endif %}
        {%  endfor %}
    </section>
</article>
