<article class="menu-target1">
    <h4>Btn | Button</h4>

    <section class="card-green">
        <h5>Btn Infos</h5>
        <p>You can use Btn classes for links & Button classes for effects !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/LamGvj" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_btn.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_btn.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>Btn Examples</h5>

        {% for btn in allBtnClasses %}
            {% if btn.class|split('-')|first is same as ('btn') %}

                <h6 class="deco-under">{{ btn.class|replace({'-': " "}) }} & {{ btn.class|replace({'btn': "button", '-': " "}) }}</h6>

                <a class="{{ btn.class }}" href="#" title="Your awesome link !">
                    <i class="fas fa-globe" aria-hidden="true"></i>
                    {{ btn.class }}
                </a>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">a</span><span class="color-salmon font-italic"> class=</span>"{{ btn.class }}"<span class="color-salmon font-italic"> href=</span>"#"<span class="color-silver">&gt;</span><span class="color-white">{{ btn.class|replace({'-': " "})|title }}</span><span class="color-silver">&lt;/</span><span class="color-red">a</span><span class="color-silver">&gt;</span></pre>

            {% else %}
                <input class="{{ btn.class }}-check" id="{{ btn.class }}-check" type="checkbox">
                <label class="{{ btn.class }}" for="{{ btn.class }}-check" title="Your awesome effect !">
                    <i class="fas fa-cogs" aria-hidden="true"></i>
                    {{ btn.class }}
                </label>

                <pre>
<span class="color-silver">&lt;</span><span class="color-red">input</span><span class="color-salmon font-italic"> class=</span>"button-check"<span class="color-salmon font-italic"> id=</span>"{{ btn.class }}-check"<span class="color-salmon font-italic"> type=</span>"checkbox"<span class="color-silver">&gt;</span>
<span class="color-silver">&lt;</span><span class="color-red">label</span><span class="color-salmon font-italic"> class=</span>"{{ btn.class }}"<span class="color-salmon font-italic"> for=</span>"{{ btn.class }}-check"<span class="color-silver">&gt;</span><span class="color-white">{{ btn.class|replace({'btn': "button", '-': " "})|title }}</span><span class="color-silver">&lt;/</span><span class="color-red">label</span><span class="color-silver">&gt;</span></pre>
            {% endif %}
        {%  endfor %}
    </section>
</article>
