<article class="menu-target3">
    <h3>Foot</h3>

    <table class="table">
        <caption>Foot Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th><a href="{{ url('global') }}" title="How to use Variables ?">Value</a></th>
            <th>@media</th>
            <th><a href="{{ url('grid') }}" title="How to Concat ?">Concat</a></th>
            <th><a href="{{ url('states') }}" title="How States work ?">States</a></th>
        </tr>
        </thead>

        <tbody>
        {% for foot in allFootClasses %}
            <tr>
                <th>{{ foot.class }}</th>
                <td>{{ foot.property }}</td>
                <td>{{ foot.valor }}</td>
                <td>{{ foot.screen }}</td>
                <td>{{ foot.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ foot.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
