<article class="menu-target5">
    <h3>Gallery</h3>

    <table class="table">
        <caption>Gallery Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for gallery in allGalleryClasses %}
            <tr>
                <th>{{ gallery.class }}</th>
                <td>{{ gallery.property }}</td>
                <td>{{ gallery.variable }}</td>
                <td>{{ gallery.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ gallery.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ gallery.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
