<article class="menu-target9">
    <h3>Table</h3>

    <table class="table">
        <caption>Astrological Signs</caption>

        <thead>
        <tr>
            <th>Sign</th>
            <th>Element</th>
            <th>Vibration</th>
            <th>Polarity</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th>Aries</th>
            <td>Fire</td>
            <td>Cardinal</td>
            <td>Male</td>
        </tr>

        <tr>
            <th>Taurus</th>
            <td>Earth</td>
            <td>Fixed</td>
            <td>Female</td>
        </tr>

        <tr>
            <th>Gemini</th>
            <td>Air</td>
            <td>Mutable</td>
            <td>Male</td>
        </tr>

        <tr>
            <th>Cancer</th>
            <td>Water</td>
            <td>Cardinal</td>
            <td>Female</td>
        </tr>

        <tr>
            <th>Leo</th>
            <td>Fire</td>
            <td>Fixed</td>
            <td>Male</td>
        </tr>

        <tr>
            <th>Virgo</th>
            <td>Earth</td>
            <td>Mutable</td>
            <td>Female</td>
        </tr>

        <tr>
            <th>Libra</th>
            <td>Air</td>
            <td>Cardinal</td>
            <td>Male</td>
        </tr>

        <tr>
            <th>Scorpio</th>
            <td>Water</td>
            <td>Fixed</td>
            <td>Female</td>
        </tr>

        <tr>
            <th>Sagittarius</th>
            <td>Fire</td>
            <td>Mutable</td>
            <td>Male</td>
        </tr>

        <tr>
            <th>Capricorn</th>
            <td>Earth</td>
            <td>Cardinal</td>
            <td>Female</td>
        </tr>

        <tr>
            <th>Aquarius</th>
            <td>Air</td>
            <td>Fixed</td>
            <td>Male</td>
        </tr>

        <tr>
            <th>Pisces</th>
            <td>Water</td>
            <td>Mutable</td>
            <td>Female</td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <caption>Table Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Property</th>
            <th>Variable</th>
            <th>Media</th>
            <th>Concat</th>
            <th>State</th>
        </tr>
        </thead>

        <tbody>
        {% for table in allTableClasses %}
            <tr>
                <th>{{ table.class }}</th>
                <td>{{ table.property }}</td>
                <td>{{ table.variable }}</td>
                <td>{{ table.media|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ table.concat|replace({'1': "yes", '0': "no"}) }}</td>
                <td>{{ table.state|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
