<nav class="navbar">

    <input id="navbar-close" type="radio" name="navbar" checked>
    <input id="navbar-open" type="radio" name="navbar">

    <a class="anima-tranx-base" href="https://animadio.org" title="Want to go back to Animadio ?">
        <img src="https://animadio.org/img/logo-nav.png" alt="Animadio Logo">
    </a>

    <ul>
        <li>
            <a href="{{ url('home') }}" title="Under construction !">
                <i class="fab fa-css3 fa-lg" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="{{ url('global') }}" title="Under construction !">
                <i class="fas fa-infinity fa-lg" aria-hidden="true"></i>
                <span>Global</span>
            </a>
        </li>
        <li>
            <a href="{{ url('grid') }}" title="Under construction !">
                <i class="fas fa-th fa-lg" aria-hidden="true"></i>
                <span>Grid</span>
            </a>
        </li>
        <li>
            <a href="{{ url('elements') }}" title="Under construction !">
                <i class="fas fa-sitemap fa-lg" aria-hidden="true"></i>
                <span>Elements</span>
            </a>
        </li>
        <li>
            <a href="{{ url('states') }}" title="Under construction !">
                <i class="fas fa-cogs fa-lg" aria-hidden="true"></i>
                <span>States</span>
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a class="color-github-onto" href="https://github.com/animadio" rel="noreferrer noopener" target="_blank" title="Open-Source code is waiting to be read !">
                <i class="fab fa-github fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="color-tw-onto" href="https://twitter.com/animadio" rel="noreferrer noopener" target="_blank" title="Frontend news & techniques !">
                <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="color-violet-onto" href="https://join.slack.com/t/animadio/shared_invite/enQtNjAxMjg0OTUyODM5LWE5ZjNhNWYxMzVjZTdlMjhkNDhiNDVlYmQ1NjY3NTVhZGFmNDg2ODVhMmYyYmQwMDBkYmYyY2Q0NGQ5OGY3NWY" rel="noreferrer noopener" target="_blank" title="Speak with the dev team !">
                <i class="fab fa-slack-hash fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="color-black-onto" href="https://codepen.io/animadio" rel="noreferrer noopener" target="_blank" title="Animadio Elements Examples !">
                <i class="fab fa-codepen fa-lg" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <label for="navbar-close" title="Fermer le Menu de Navigation">
        <i class="fas fa-angle-double-up fa-lg" aria-hidden="true"></i>
    </label>
    <label for="navbar-open" title="Ouvrir le Menu de Navigation">
        <i class="fas fa-angle-double-down fa-lg" aria-hidden="true"></i>
    </label>
</nav>