<nav class="navbar">

    <input id="navbar-close" type="radio" name="navbar" checked>
    <input id="navbar-open" type="radio" name="navbar">

    <a class="anima-slideR" href="{{ url('home') }}" accesskey="h" title="Want to go back to Homepage ?">
        <img src="https://animadio.org/img/logo-nav.png" alt="Animadio Logo">
    </a>

    <ul>
        <li>
            <a href="{{ url('global') }}" accesskey="m" title="Access to Global Part !">
                <i class="fas fa-infinity fa-lg" aria-hidden="true"></i>
                <span>Global</span>
            </a>
        </li>
        <li>
            <a href="{{ url('box') }}" accesskey="b" title="Access to Box Part !">
                <i class="fas fa-box fa-lg" aria-hidden="true"></i>
                <span>Box</span>
            </a>
        </li>
        <li>
            <a href="{{ url('grid') }}" accesskey="g" title="Access to Grid Part !">
                <i class="fas fa-th fa-lg" aria-hidden="true"></i>
                <span>Grid</span>
            </a>
        </li>
        <li>
            <a href="{{ url('elements') }}" accesskey="e" title="Access to Elements Part !">
                <i class="fas fa-sitemap fa-lg" aria-hidden="true"></i>
                <span>Elements</span>
            </a>
        </li>
        <li>
            <a href="{{ url('states') }}" accesskey="s" title="Access to States Part !">
                <i class="fas fa-cogs fa-lg" aria-hidden="true"></i>
                <span>States</span>
            </a>
        </li>
        <li>
            <a href="{{ url('helpers') }}" accesskey="h" title="Access to Helpers Part !">
                <i class="fas fa-life-ring fa-lg" aria-hidden="true"></i>
                <span>Helpers</span>
            </a>
        </li>
        <li>
            <a href="{{ url('events') }}" accesskey="j" title="Access to Events Part !">
                <i class="fas fa-mouse fa-lg" aria-hidden="true"></i>
                <span>Events</span>
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a class="color-gh-onto" href="https://github.com/animadio" rel="noreferrer noopener" target="_blank" title="Open-Source code is waiting to be read !">
                <i class="fab fa-github fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="color-tw-onto" href="https://twitter.com/animadio" rel="noreferrer noopener" target="_blank" title="Frontend news & techniques !">
                <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="color-black-onto" href="https://codepen.io/animadio" rel="noreferrer noopener" target="_blank" title="Animadio Elements Examples !">
                <i class="fab fa-codepen fa-lg" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <label for="navbar-close" title="Fermer le Menu de Navigation">
        <i class="fas fa-angle-double-up fa-lg" aria-hidden="true"></i>
    </label>
    <label for="navbar-open" title="Ouvrir le Menu de Navigation">
        <i class="fas fa-angle-double-down fa-lg" aria-hidden="true"></i>
    </label>
</nav>
